

<div class="container" >
    <div class="row align-left">
        <h3>Booking Patients Details</h3>
        <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th>Name of Patient</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Time</th>
                <th>Token</th>
                <th>Reject</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>John</td>
                  <td>john nivas,nivas nagar,</td>
                  <td>987456321</td>
                  <td>9:00</td>
                </tr>
                <tr>
                  <td>Mary</td>
                  <td>Moe</td>
                  <td>965874123</td>
                  <td>9:30</td>
                </tr>
                <tr>
                  <td>July</td>
                  <td>Dooley</td>
                  <td>963258711</td>
                  <td>10:00</td>
                </tr>
            </tbody>
        </table> 
    </div> 
</div>
